{% extends "base.html.twig" %}

{% block title %} {{ story.title }} {% endblock %}

{% block slider %}
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">

    <div class="kode-inner-banner">
        <div class="kode-page-heading">
            <h2>View scenes</h2>
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">{{ story.title }}</li>
            </ol>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="content-wrap">

        <div class="container">
            <div class="postcontent nobootommargin clearfix" style="font-family: Courier; width: 100%; text-align: justify; word-spacing: 4px">
                <div class="clear"></div>
                {% if scene != null %}
                    {% for scene in pagination %}
                        <div class=" panel panel-default">
                            <div class="panel-heading" style="font-family: Courier; text-align: justify; word-spacing: 4px"><b>{{ scene.title }}</b></div>
                            <div class="panel-body" style="font-family: Courier; text-align: justify; word-spacing: 4px">
                                {{ scene.content  | raw }}
                            </div>
                        </div>

                        <div class="clear"></div>
                    {% endfor %}
                    <div class="line"></div>

                    <div class="row">
                        <div class="col-md-12">
                            {% if story.type != "Solo writing" %}
                                <h3 class="title-bottom-border uppercase">Proposed Scenes</h3>
                                {{ render(controller(
                                    'App\\Controller\\SceneController::proposedScene',
                                    { 'story': app.request.get('id') }
                                )) }}
                            {% endif %}

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 " >
                            <div class="clear"></div>
                            <div class="row">
                                {% if app.user.id != story.publishedBy.id  %}
                                    {% if story.type == "Solo writing" %}
                                    {% elseif story.type == "Collaborative writing" %}
                                        {% if   'ROLE_POWER_USER' in story.publishedBy.roles or 'ROLE_MODERATOR' in story.publishedBy.roles %}

                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#proposenewscene" aria-expanded="false" aria-controls="proposenewscene"  class="collapsed button button-3d button-rounded button-green fright"><i class="icon-plus"></i>Propose next scene</a>
                                        <a href="{{ path('ns_web_story_view', { 'id': story.id }) }}" class="collapsed button button-3d button-rounded button-red fleft"><i class="icon-book-open"></i>View details</a>
                                         {% endif %}
                                        {% elseif story.type == "Group writing" %}
                                        {% set contributors = [] %}
                                        {% for contributor in story.contributors %}
                                            {% set contributors = contributors |merge([contributor.id]) %}
                                        {% endfor %}

                                        {% if app.user.id in contributors %}
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#proposenewscene" aria-expanded="false" aria-controls="proposenewscene"  class="collapsed button button-3d button-rounded button-green fright"><i class="icon-plus"></i>Propose next scene</a>
                                            <a href="{{ path('ns_web_story_view', { 'id': story.id }) }}" class="collapsed button button-3d button-rounded button-red fleft"><i class="icon-book-open"></i>View details</a>

                                        {% endif %}

                                    {% endif %}
                                {% else %}
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#addNewScene" aria-expanded="false" aria-controls="newScene"  class="collapsed button button-3d button-rounded button-green fright"><i class="icon-book-open"></i> Add new scene</a>
                                    <div class="panel-group" id="accordion">
                                        <div id="addNewScene" class="panel-collapse collapse">
                                            {{ form_start(sceneForm) }}

                                            {# Les erreurs générales du formulaire. #}
                                            {{ form_errors(sceneForm) }}
                                            <div class="row">
                                                {% if not sceneForm.vars.valid %}

                                                    {# Loop through every form item #}
                                                    {% for child in sceneForm.children %}
                                                        {# Display the errors of the form item #}
                                                        {%for error in child.vars.errors%}
                                                            <div class="alert alert-warning">{{error.message}}</div>
                                                        {%endfor%}
                                                    {%endfor%}

                                                {%endif%}
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <label for="nom_carte">Title</label>
                                                    {{ form_widget(sceneForm.title, {'attr': {'class': 'form-control select-1 ', 'id': 'nom_carte', 'placeholder': '' }}) }}
                                                </div>
                                                <div class="form-group">
                                                    <label for="nom_carte">Scene</label>
                                                    {{ form_widget(sceneForm.content, {'attr': {'class': 'form-control select-1 ', 'id': 'nom_carte', 'placeholder': '' }}) }}
                                                </div>

                                                <div class=" line"></div>

                                                <div class="form-group">
                                                    <button type="submit" class="button button-3d button-large button-rounded button-green">Validate</button>
                                                </div>

                                            </div>


                                            {{ form_rest(sceneForm) }}
                                            {# Fermeture de la balise <form> du formulaire HTML #}
                                            {{ form_end(sceneForm) }}
                                        </div>
                                    </div>

                                {% endif %}
                            </div>
                            <div class="panel-group" id="accordion">
                                <div id="proposenewscene" class="panel-collapse collapse">
                                    {{ form_start(form) }}

                                    {# Les erreurs générales du formulaire. #}
                                    {{ form_errors(form) }}
                                    <div class="row">
                                        <div class="form-group">
                                            <label for="nom_carte">Title</label>
                                            {{ form_widget(form.title, {'attr': {'class': 'form-control select-1 ', 'id': 'nom_carte', 'placeholder': '' }}) }}
                                        </div>

                                        <div class="form-group">
                                            <label for="nom_carte">Content</label>
                                            {{ form_widget(form.content, {'attr': {'class': 'form-control select-1 ', 'id': 'nom_carte', 'placeholder': '' }}) }}
                                        </div>

                                        <div class=" line"></div>

                                        <div class="form-group">
                                            <button type="submit" class="button button-3d button-large button-rounded button-green">Submit</button>

                                        </div>

                                    </div>


                                    {{ form_rest(form) }}

                                    {# Fermeture de la balise <form> du formulaire HTML #}
                                    {{ form_end(form) }}
                                </div>
                            </div>



                        </div>
                    </div>
                {% else %}
                    <h3 class="red center" style="color: red">No scene in this storyline !</h3>
                {% endif %}


            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js"></script>
    <script type="text/javascript">
        $('.feed').infiniteScroll({
            path: '.pagination__next',
            append: '.article',
            status: '.scroller-status',
            hideNav: '.pagination',
        });
    </script>
{% endblock %}
