{% extends 'base.html.twig' %}
{% block styles %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('css/dark.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('css/swiper.css') }}" type="text/css" />

    <!-- Music Specific Stylesheet -->
    <link rel="stylesheet" href="{{ asset('demos/music/music.css') }}" type="text/css" />
    <!-- / -->

    <link rel="stylesheet" href="{{ asset('css/font-icons.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('one-page/css/et-line.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('css/animate.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}" type="text/css" />

    <link rel="stylesheet" href="{{ asset('demos/music/css/fonts.css') }}" type="text/css" />

    <!-- Bootstrap Switch CSS -->
    <link rel="stylesheet" href="{{ asset('css/components/bs-switches.css') }}" type="text/css" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Theme color -->
    <link rel="stylesheet" href="{{ asset('css/colors.php') }}?color=ed215e" type="text/css" />

    <!-- Audio Player Plugin CSS -->
    <link rel="stylesheet" href="{{ asset('demos/music/css/mediaelement/mediaelementplayer.css') }}">

{% endblock %}
{% block slider %}
    <section  id="slider" class="slider-element swiper_wrapper " style="background: #131722; " data-effect="fade" data-loop="true" data-speed="1000">
        <div style="margin-top: 20px" class="swiper-container swiper-parent">
            <div style="background-image: url({{ asset('images/banner.png') }}); " class="swiper-wrapper">
                <div class="swiper-slide dark">
                    <div class="container">
                        <div  class="slider-caption ">
                            <div>
                                <a href="{{ path('app_podcast_new') }}" style="top: 130px; left: 300px; position: relative"  class="button button-rounded " ><i class="icon-plus-sign"></i>Submit your podcast</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide-bg"></div>
                </div>

            </div>
            <div style="float: left" class="slider-arrow-left bg-transparent"><i class="icon-line-arrow-left"></i></div>
            <div style="float: right" class="slider-arrow-right bg-transparent"><i class="icon-line-arrow-right"></i></div>
        </div>
    </section>

    <!-- Slider
            ============================================= -->

{% endblock %}

{% block content %}
    <div class="container clearfix" style="z-index: 7;">

        <div class="heading-block bottommargin-sm border-0 dark">
            <h3 style="color: #000">Latest podcasts</h3>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="books-listing-4">
                <div class="kode-thumb">
                    <a href="#"><img src="images/book.png" alt=""></a>
                </div>
                <div class="kode-text">
                    <h3><a href="#">Basic Time Management Course</a></h3>
                    <p>Sed ut perspiciatis</p>
                </div>
                <div class="book-price">
                    <p>$24.75</p>
                    <div class="rating">
                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                    </div>
                </div>
                <a href="#" class="add-to-cart">Play now</a>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="books-listing-4">
                <div class="kode-thumb">
                    <a href="#"><img src="images/book.png" alt=""></a>
                </div>
                <div class="kode-text">
                    <h3><a href="#">Basic Time Management Course</a></h3>
                    <p>Sed ut perspiciatis</p>
                </div>
                <div class="book-price">
                    <p>$24.75</p>
                    <div class="rating">
                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                    </div>
                </div>
                <a href="#" class="add-to-cart">Play now</a>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="books-listing-4">
                <div class="kode-thumb">
                    <a href="#"><img src="images/book.png" alt=""></a>
                </div>
                <div class="kode-text">
                    <h3><a href="#">Basic Time Management Course</a></h3>
                    <p>Sed ut perspiciatis</p>
                </div>
                <div class="book-price">
                    <p>$24.75</p>
                    <div class="rating">
                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                    </div>
                </div>
                <a href="#" class="add-to-cart">Play now</a>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="books-listing-4">
                <div class="kode-thumb">
                    <a href="#"><img src="images/book.png" alt=""></a>
                </div>
                <div class="kode-text">
                    <h3><a href="#">Basic Time Management Course</a></h3>
                    <p>Sed ut perspiciatis</p>
                </div>
                <div class="book-price">
                    <p>$24.75</p>
                    <div class="rating">
                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                    </div>
                </div>
                <a href="#" class="add-to-cart">Play now</a>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="books-listing-4">
                <div class="kode-thumb">
                    <a href="#"><img src="images/book.png" alt=""></a>
                </div>
                <div class="kode-text">
                    <h3><a href="#">Basic Time Management Course</a></h3>
                    <p>Sed ut perspiciatis</p>
                </div>
                <div class="book-price">
                    <p>$24.75</p>
                    <div class="rating">
                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                    </div>
                </div>
                <a href="#" class="add-to-cart">Play now</a>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="books-listing-4">
                <div class="kode-thumb">
                    <a href="#"><img src="images/book.png" alt=""></a>
                </div>
                <div class="kode-text">
                    <h3><a href="#">Basic Time Management Course</a></h3>
                    <p>Sed ut perspiciatis</p>
                </div>
                <div class="book-price">
                    <p>$24.75</p>
                    <div class="rating">
                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                    </div>
                </div>
                <a href="#" class="add-to-cart">Play now</a>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="books-listing-4">
                <div class="kode-thumb">
                    <a href="#"><img src="images/book.png" alt=""></a>
                </div>
                <div class="kode-text">
                    <h3><a href="#">Basic Time Management Course</a></h3>
                    <p>Sed ut perspiciatis</p>
                </div>
                <div class="book-price">
                    <p>$24.75</p>
                    <div class="rating">
                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                    </div>
                </div>
                <a href="#" class="add-to-cart">Play now</a>
            </div>
        </div>


    </div>


    <!-- Audio Player
	============================================= -->
    <audio id="audio-player" preload="none" class="mejs__player" controls data-mejsoptions='{"defaultAudioHeight": "50", "alwaysShowControls": "true"}' style="max-width:100%;">
        <source src="{{ asset('demos/music/src/audios/nashe-si.mp3') }}" type="audio/mp3">
    </audio>

    <!-- Default Track - onLoad
    ============================================= -->
    <div id="track-onload" data-track="{{ asset('demos/music/tracks/clean-clean.mp3') }}" data-poster="{{ asset('demos/music/images/popular-songs/7.jpg') }}" data-title="Clean Clean" data-singer="R Costello"></div>

{% endblock %}

{% block scripts %}
    <script src="{{ asset('js/plugins.min.js') }}"></script>

    <!-- Audio player Plugin
    ============================================= -->
    <script src="{{ asset('demos/music/js/mediaelement/mediaelement-and-player.js') }}"></script>

    <script>

        // Custom Tab jQuery
        // jQuery( '.tabs' ).on( 'tabsactivate', function( event, ui ) {
        // 	var gridContainerAvailable = jQuery( ui.newPanel ).find('.grid-container');

        // 	if( gridContainerAvailable.length > 0 ) {
        // 		gridContainerAvailable.each( function(){
        // 			var portfolioGrid = jQuery(this);

        // 			if( !portfolioGrid.hasClass('tabs-enabled-grid-container') ) {
        // 				portfolioGrid.isotope('layout');
        // 				jQuery(window).trigger('resize');
        // 				portfolioGrid.addClass('tabs-enabled-grid-container');
        // 			}
        // 		});
        // 	}
        // });

        // Music playing Scripts
        var trackPlaying = '',
            audioPlayer = document.getElementById('audio-player');

        audioPlayer.addEventListener("ended", function(){
            jQuery('.track-list').find('i').removeClass('icon-pause').addClass('icon-play');
        });

        audioPlayer.addEventListener("pause", function(){
            jQuery('.track-list').find('i').removeClass('icon-pause').addClass('icon-play');
        });

        function changeAudio( sourceUrl, posterUrl, trackTitle, trackSinger, playAudio = true ) {
            var audio = $("#audio-player"),
                clickEl = jQuery('[data-track="'+sourceUrl+'"]'),
                playerId = audio.closest('.mejs__container').attr('id'),
                playerObject = mejs.players[playerId];

            jQuery('.track-list').find('i').removeClass('icon-pause').addClass('icon-play');

            if( sourceUrl == trackPlaying ) {
                if (playerObject.node.paused) {
                    playerObject.play();
                    clickEl.find('i').removeClass('icon-play').addClass('icon-pause');
                } else {
                    playerObject.pause();
                    clickEl.find('i').removeClass('icon-pause').addClass('icon-play');
                }
                return true;
            }

            trackPlaying = sourceUrl;

            audio.attr( 'poster', posterUrl );
            audio.attr( 'title', trackTitle );

            jQuery('.mejs__layers').html('').html('<div class="mejs-track-artwork"><img src="'+ posterUrl +'" alt="Track Poster" /></div><div class="mejs-track-details"><h3>'+ trackTitle +'<br><span>'+ trackSinger +'</span></h3></div>');

            if( sourceUrl != '' ) {
                playerObject.setSrc( sourceUrl );
            }
            playerObject.pause();
            playerObject.load();

            if( playAudio == true ) {
                playerObject.play();
                jQuery(clickEl).find('i').removeClass('icon-play').addClass('icon-pause');
            }
        }

        jQuery('.track-list').on( 'click', function(){
            var audioTrack = jQuery(this).attr('data-track'), // Track url
                posterUrl = jQuery(this).attr('data-poster'), // Track Poster Image
                trackTitle = jQuery(this).attr('data-title'); // Track Title
            trackSinger = jQuery(this).attr('data-singer'); // Track Singer Name

            changeAudio( audioTrack, posterUrl, trackTitle, trackSinger );
            return false;
        });

        jQuery(window).on( 'load', function(){
            var trackOnload = jQuery('#track-onload');

            if( trackOnload.length > 0 ) {
                var audioTrack = trackOnload.attr('data-track'), // Track url
                    posterUrl = trackOnload.attr('data-poster'), // Track Poster Image
                    trackTitle = trackOnload.attr('data-title'); // Track Title
                trackSinger = trackOnload.attr('data-singer'); // Track Singer Name

                setTimeout( function(){
                    changeAudio( audioTrack, posterUrl, trackTitle, trackSinger, false );
                }, 500);
            }
        });

    </script>

{% endblock %}