{% extends 'base.html.twig' %}
{% block slider %}
    <div class="kode-inner-banner">
        <div class="kode-page-heading">
            <h2>Publish your podcast</h2>
            <ol class="breadcrumb">
                <li><a href="{{ path('app_home') }}">Home</a></li>
                <li class="active">Podcasts</li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container clearfix">
        <div class="row">
            <div class="postcontent  nobottommargin clearfix" style="font-family: Courier; text-align: justify; word-spacing: 4px">
                {{ form_start(form) }}
                <div class="form-group">
                    <label for="nom_carte">Title</label>
                    {{ form_widget(form.title, {'attr': {'class': 'form-control ', 'placeholder': '' }}) }}
                </div>
                <div class="form-group">
                    <label for="nom_carte">Forum</label>
                    {{ form_widget(form.forum, {'attr': {'class': 'form-control ','placeholder': '' }}) }}
                </div>
                <div class="form-group">
                    <label for="nom_carte">Description</label>
                    {{ form_widget(form.description, {'attr': {'class': 'form-control ',  'placeholder': '' }}) }}
                </div>
                <div class="form-group">
                    <label for="nom_carte">Fichier audio</label>
                    {{ form_widget(form.fichierFile, {'attr': {'class': 'form-control ',  'accept': '.mp3' }}) }}
                </div>
                <div class="form-group">
                    <label for="nom_carte">Cover</label>
                    {{ form_widget(form.imageFile, {'attr': {'class': 'form-control ',  'accept': '.jpg,.jpeg,.png,.gif' }}) }}
                </div>
                <div class="form-group">
                    <label for="nom_carte">Active</label>
                    {{ form_widget(form.isEnabled, {'attr': { 'checked':'checked', 'data-on-text': 'YES', 'data-off-text': 'NO','class': 'form-control bt-switch', 'id': 'nom_carte', 'rows': '10' }}) }}

                </div>
                <div class=" line"></div>

                <div class="form-group">
                    <button type="submit" class="button button-3d button-large button-rounded button-green">Create</button>
                </div>
                {{ form_rest(form) }}
                {{ form_end(form) }}

            </div>
            {% include '_sidebar.html.twig' %}

        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        jQuery(document).ready( function($){




            jQuery(".bt-switch").bootstrapSwitch();






        });
    </script>

{% endblock %}
